[submodule "got"]
	path = got
	url = ssh://anonymous@got.gameoftrees.org/got.git
[submodule "got-www"]
	path = got-www
	url = ssh://anonymous@got.gameoftrees.org/got-www.git
[submodule "diff"]
	path = diff
	url = ssh://anonymous@got.gameoftrees.org/diff.git
